h1 {
    font-family: 'Open sans', sans-serif;
    text-align: center;
    font-size: 60px;
    color: blue;
    text-shadow: 2px 2px 2px #CE5937;
}

h1 li {
    list-style-type: none;
}

div{
    padding: inherit;
    background-color: #FF9500;
    border: 5px solid black;
}

body{
    width: 600px;
    margin: 0 auto;
    background-color: blue;
    padding: 0 20px 20px 20px;
}

img{
    display: block;
    margin: 0 auto;
}